.sectionWebSocket {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sectionWebSocket__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sectionWebSocket__text {
    font-size: 1.5rem;
}